@import url('https://fonts.googleapis.com/css?family=Raleway');

$font-family-base: "Raleway";

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700; 
$headings-font-weight: 800;

// Override default variables before the import
//$body-bg: #000;

$container-max-widths: (
  sm: 240px,
  md: 420px,
  lg: 660px,
  xl: 840px,
  xxl: 1020px
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';