@import url('https://fonts.googleapis.com/css?family=Raleway');

// Colors
$body-bg: #0A0909;
$body-color: white;
$red: #EB3D3D;
$green: #32D957;
$yellow: #FFCE52;


// Fonts
$font-family-base: "Raleway";

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700; 
$headings-font-weight: 800;

// Buttons
$btn-border-radius: 70px;

// Cards
$card-bg: #1C1B1B;
$card-border-radius: 6px;

// Widths
$container-max-widths: (
  sm: 240px,
  md: 420px,
  lg: 660px,
  xl: 840px,
  xxl: 1020px
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';